name: My First Workflow

on: [push, fork]

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: checkout repo
          uses: actions/checkout@v6

        - name: Welcome message
          run: echo "My first github Actions Job"
        
        - name: List files
          run: ls

        - name: Read file
          run: cat README.md
                 